@charset "UTF-8";

/* Color Palette */
/*
    Dark Green: #253f26
    Light Green: #4c783b
    Yellow: #d0b82a
    White: #ffffff
    Black: #000000
*/

/* Navigation */
nav {
    background-color: #253f26;
    overflow: hidden;
}

.nav-link {
    color: #fff;
}

/* Buttons */
.btn-primary {
    background-color: #253f26;
    border-color: #253f26;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active:focus {
    background-color: #142115;
    border-color: #142115;
}

/* Accordion */
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #253f26;
    color: #fff;
    overflow: hidden;
}

.accordion-button-collapsed::after,
.accordion-button:not(.collapsed) {
    color: #d0b82a;
}

/* Focus States */
.form-control:focus,
.form-select:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.accordion-button:focus,
.nav-link:focus,
.navbar-toggler:focus {
    border-color: #d0b82a;
    box-shadow: 0 0 0 0.2rem rgba(208, 184, 42, 0.25);
}

/* Carousel */
/* Adapted from https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once */

/* Mobile carousel styles */
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

/* Carousel item states */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* Desktop carousel transitions */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/* Layout */
article {
    margin-top: 2em;
}