@charset "UTF-8";

/* Layout */
/* main > div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    /* gap: 1.5rem;
    padding: 1rem;
    background-color: pink;
    outline: 1px dashed darkblue;
} */

article {
    margin-top: 2em;
}

/* Navigation */
nav {
    background-color: #253f26;
    overflow: hidden;
}

.nav-link {
    color: #fff;
}

/* Buttons */
.btn-primary {
    background-color: #253f26;
    border-color: #253f26;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active:focus {
    background-color: #142115;
    border-color: #142115;
}
/* Button Animation */
#order-now {
    animation: glowing 1300ms infinite;
}

@keyframes glowing {
    0% {
        background-color: #253f26;
        box-shadow: 0 0 3px #253f26;
        border: 1px solid #253f26;
    }

    50% {
        background-color: #4c783b;
        box-shadow: 0 0 10px #4c783b;
        border: 1px solid #4c783b;
    }

    100% {
        background-color: #253f26;
        box-shadow: 0 0 3px #253f26;
        border: 1px solid #253f26;
    }
}

/* Tabs */
#tab-review-1,
#tab-review-2,
#tab-review-3 {
    color: black;
}

#tab-review-1.active,
#tab-review-2.active,
#tab-review-3.active {
    background-color: #4c783b;
    color: white;
    border-bottom: 1px solid #4c783b;
}

#review-1.active,
#review-2.active,
#review-3.active {
    background-color: #4c783b;
    color: white;
}

/* Accordion */
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #253f26;
    color: #fff;
    overflow: hidden;
}

.accordion-button-collapsed::after,
.accordion-button:not(.collapsed) {
    color: #d0b82a;
}

/* Carousel */
/* Adapted from https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/* Mobile */
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

/* Desktop */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

/* Focus States */
.form-control:focus,
.form-select:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.accordion-button:focus,
.nav-link:focus,
.navbar-toggler:focus {
    border-color: #d0b82a;
    box-shadow: 0 0 0 0.2rem rgba(208, 184, 42, 0.25);
}